@model LoginViewModel
@{
    ViewBag.Title = "User Login";

}

<div class="row">
    <div class="col-md-6">
        <h1>User Login</h1>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col-md-6">
        <h1>External Login</h1>
        <hr />
        @{
            var routeName = "https://localhost:44378/Home/Index";

            //This was not working for some reason
            //ViewContext.ActionDescriptor.AttributeRouteInfo.Name; 
         }

        @Html.ActionLink("Sign In With Google", "SignInWithGoogle", "Account", new { returnUrl = routeName })
        
        @*earlier i used href*@
        @* <a href="https://accounts.google.com/o/oauth2/v2/auth?access_type=online&client_id=877899375263-m4io06muost8fv7l6k68lugkcr58eicc.apps.googleusercontent.com&redirect_uri=https://localhost:44378/Home/Index&response_type=code&scope=email&prompt=consent">Sign In With Google</a> *@
    </div>
</div>