@model PaginationViewModel

@{
    for (int p = 1; p <= Model.TotalPages; p++)
    {
        <a href ="@Url.RouteUrl("Get_Shows", new { pageNumber = p })">@p.ToString()</a>
        <span> </span>
    }
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
